
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.haut {
    background-color: #5a005a; 
    color: white;
    height: 50px;
    line-height: 50px;
}

.menu {
    background-color: #0000ff; 
    color: white;
    height: 30px;
    line-height: 30px;
}

.conteneur-central {
    background-color: pink;
    padding: 10px;
    overflow: hidden; /
}

.quartier {
    width: 50%;
    float: left; 
    padding: 5px;
    height: 250px; 
}

.bloc {
    width: 48%; 
    height: 45%;
    float: left;
    margin: 1%;
    border: 1px solid white; 
    color: white;
    font-size: 0.8em;
}


.rouge { background-color: #ff0000; }
.orange { background-color: #ff9900; }
.vert { background-color: #008000; }
.marron { background-color: #a52a2a; }


.bas {
    background-color: #c0c0c0; 
    height: 50px;
    line-height: 50px;
    clear: both; 
}