.turquoise { background: #45a08a; width: 50%; height: 300px; float: left; }
.violet { background: #9b45a0; width: 50%; height: 300px; float: left; }
.jaune { background: #f1b400; height: 60px; clear: both; }