.rouge { background: #ff5e5e; height: 60px; }
.bleu { background: #5e83ff; width: 20%; height: 400px; float: left; }
.vert { background: #50d890; width: 60%; height: 400px; float: left; }
.marron { background: #a06b45; width: 20%; height: 400px; float: left; }