.turquoise-fonce { background: #458a8a; height: 50px; }
.violet-fonce { background: #8a458a; height: 30px; }
.conteneur-blanc { padding: 20px; border: 1px solid #ccc; }
.jaune-central { background: #f1b400; height: 300px; }