
     :root {
            --color-exercice: #d40e18; /*  titres d'exercices */
            --color-role: #31d81b;     /* rôles */
            --color-text: #1e08e4;     /*text*/
            --color-bg: #f4f7f6;
            --color-card: #ffffff;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: var(--color-bg);
            color: var(--color-text);
            margin: 0;
            padding: 40px;
            line-height: 1.6;
        }

        .container {
            max-width: 900px;
            margin: 0 auto;
        }
/* Exercice1*/
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Gestion de la taille réduite du logo dans le tableau */
td img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

/* Style pour la légende */
caption {
    font-weight: bold;
    margin-bottom: 10px;
}
/*Exercice 2*/
table { border-collapse: collapse; width: 100%; font-family: sans-serif; font-size: 0.9em; }
th, td { border: 1px solid #ccc; padding: 10px; text-align: center; }

/* Couleurs des entêtes comme sur l'image */
.zone-a { background-color: #f39c12; color: white; }
.zone-b { background-color: #2980b9; color: white; }
.zone-c { background-color: #27ae60; color: white; }

/*exercice3*/
.calendrier { width: 300px; border: 1px solid #b2bec3; }
.jours th { background-color: #badc58; color: #2d3436; }
.calendrier td { text-align: center; padding: 5px; border: 1px solid #dfe6e9; }

/* Pour griser les cellules vides à la fin */
.calendrier td:empty { background-color: #f5f6fa; }